:root {
  --lp-primary: #01509f;
  --lp-accent: #006bd6;
  --lp-secondary: #d9b439;
  --lp-gray: #cccccc;
}

body {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

.navbar {
  padding: 2.2rem 4rem 1.2rem 4rem !important;
}

.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-item .nav-link {
  color: var(--lp-primary) !important;
}

.nav-item.active {
  border: 1px solid var(--lp-primary);
  background-color: var(--lp-primary);
}

.nav-item.active .nav-link {
  color: #ffffff !important;
}

.btn-primary {
  background-color: var(--lp-primary) !important;
}

.bd-separator-secondary {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 0.1rem;
  height: 1.6rem;
  background-color: var(--lp-secondary);
}

.center-div {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 35%;
}

.span-gray {
  color: #6d6d6f;
}

.content-admin-border {
  border: 1px solid var(--lp-gray);
}

.label-admin-title {
  font-size: 2rem;
  color: #000000;
}

.label-admin-icon {
  font-size: 1.8rem;
  color: var(--lp-gray);
}

.banner-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.banner-text {
  position: absolute;
  top: 25%;
  right: 5%;
  text-align: left;
}

.baner-text-primary {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
  color: var(--lp-primary);
}

.baner-text-secondary {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 3.3rem;
  color: var(--lp-secondary);
}

.banner-button {
  position: absolute;
  top: 70%;
  right: 5%;
}

.owl-stage {
  padding-left: 0 !important;
}

/* owl nav */
.owl-prev span,
.owl-next span {
  /* color: #fff; */
  color: #8199a3;
  font-size: 3rem;
}

.owl-prev span:hover,
.owl-next span:hover {
  color: #8199a3;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 0;
  height: 100%;
}

.owl-prev {
  left: -50px;
}

.owl-next {
  right: -50px;
}

/* removing blue outline from buttons */
button:focus.owl-prev,
button:active.owl-prev,
button:focus.owl-next,
button:active.owl-next {
  outline: none;
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lp-gray);
}

.card-content-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.6rem 0.1rem;
}

.card-content-footer {
  padding: 1.2rem 0.1rem;
}

.px-4 {
  padding-left: 3.4rem !important;
  padding-right: 3.4rem !important;
}

.bd-container-gray {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  border: 0.2rem solid var(--lp-gray);
}

.content-wrapper {
  max-width: 640px;
  width: 100%;
}

.video-container {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.video-container a {
  border-bottom: 18px solid transparent;
  border-left: 22px solid #000;
  border-top: 18px solid transparent;
  box-sizing: border-box;
  height: 26px;
  margin: -13px 0 0 -11px;
  left: 50%;
  position: absolute;
  text-indent: -999em;
  top: 50%;
  width: 22px;
}
.video-container a:hover {
  border-left-color: var(--lp-secondary);
}
.video-container img {
  display: block;
}
.video-container iframe,
.video-container object,
.video-container embed,
.video-container img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.max-width-100 {
  max-width: 6.25rem;
  max-height: 6rem;
}

.text-ns-bold {
  padding-top: 0.3rem;
  font-weight: 550;
}

.font-color-gray {
  font-size: 1.2rem;
  color: #777777;
}

.font-color-primary-foo {
  font-size: 2.2rem;
  color: var(--lp-primary);
}

.font-whatsapp-number {
  font-weight: 500;
  color: var(--lp-primary);
}

.font-slogan-footer {
  color: var(--lp-accent);
}

footer {
  width: 100%;
  padding-right: 4rem;
  padding-left: 4rem;
  margin-right: auto;
  margin-left: auto;
}

/* Small devices */
@media (max-width: 767.98px) {
  .navbar {
    padding: 1.2rem 0.8rem !important;
  }
  .navbar-brand img {
    width: 13rem;
  }
  .banner-text {
    top: 10%;
    right: 2%;
  }
  .baner-text-primary {
    font-size: 1rem !important;
    font-weight: 500;
    line-height: 1rem !important;
  }
  .baner-text-secondary {
    font-size: 1.2rem !important;
    font-weight: 600;
    line-height: 1rem !important;
  }
  .owl-prev,
  .owl-next {
    display: none;
  }
  .center-div {
    width: 100%;
  }
  .font-color-gray {
    font-size: 1rem;
  }
  .mb-sm-4 {
    margin-bottom: 1.5rem !important;
  }
  .btn-on-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  .justify-content-center-sm {
    justify-content: center !important;
  }
}

/* Medium devices */
@media (max-width: 991.98px) {
  .baner-text-primary {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem;
  }
  .baner-text-secondary {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.8rem;
  }
  .owl-prev,
  .owl-next {
    position: absolute;
    top: 0;
    height: 100%;
  }
  .owl-prev {
    left: -32px;
  }
  .owl-next {
    right: -32px;
  }
  .center-div {
    width: 100%;
  }
  .font-color-gray {
    font-size: 1rem;
  }
  .float-left-sm {
    float: left;
  }
  .justify-content-center-sm {
    justify-content: center !important;
  }
  .w-100-md {
    text-align: center;
    max-width: 100%;
  }
}
